$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-arrow_left_active: "\e900";
$icon-arrow_left: "\e901";
$icon-arrow_right_active: "\e902";
$icon-arrow_right: "\e903";
$icon-bonum: "\e904";
$icon-chess: "\e905";
$icon-cross_hover: "\e906";
$icon-cross: "\e907";
$icon-facebook_mob: "\e908";
$icon-facebook: "\e909";
$icon-insta_mob: "\e90a";
$icon-insta: "\e90b";
$icon-like: "\e90c";
$icon-logo-path1: "\e90d";
$icon-logo-path2: "\e90e";
$icon-logo-path3: "\e90f";
$icon-logo-path4: "\e910";
$icon-logo-path5: "\e911";
$icon-logo-path6: "\e912";
$icon-logo-path7: "\e913";
$icon-logo-path8: "\e914";
$icon-logo-path9: "\e915";
$icon-logo-path10: "\e916";
$icon-logo-path11: "\e917";
$icon-logo-path12: "\e918";
$icon-logo-path13: "\e919";
$icon-logo-path14: "\e91a";
$icon-logo-path15: "\e91b";
$icon-logo-path16: "\e91c";
$icon-logo-path17: "\e91d";
$icon-logo-path18: "\e91e";
$icon-logo-path19: "\e91f";
$icon-logo-path20: "\e920";
$icon-logo-path21: "\e921";
$icon-logo-path22: "\e922";
$icon-logo-path23: "\e923";
$icon-logo-path24: "\e924";
$icon-logo-path25: "\e925";
$icon-photo: "\e926";
$icon-startup: "\e927";
$icon-twitter_mob: "\e928";
$icon-twitter: "\e929";
$icon-rudder: "\e92a";
$icon-placeholder: "\e92b";

